[Unit]
Description=Update and rebuild website
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=git -C ~/www.frost.cx pull
ExecStart=make --directory=~/www.frost.cx build
ExecStart=rsync --recursive --delete ~/www.frost.cx/build/ /var/www/www.frost.cx/
