body {
	background-color: #96A8C8;
	font-family: Lucida,Helvetica,sans-serif;
	font-variant: small-caps;
	text-align: center;
	font-size: 16px;
	width: 760px;
	margin: auto;
}

ul {
	list-style: none;
}

a {
	color: black;
	font-weight: 800;
	text-decoration: none;
	font-size: 20px;
	
}

a.inlineHyperlink {
	color: #96A8C8;
	font-size: 16px;
}

a:hover {
	text-decoration: underline;
}

ul.comicNav li a {
	color: white;
	display: inline;
	font-size: 16px;
	background-color: #96A8C8;
	border: 1.5px solid black;
	border-radius: 3px;
	margin: 0 4px;
	padding: 2px 12px;
	text-decoration: none;
	
	
}

p.smallprint {
	width: 70%;
	font-size: 6px;
}

h4 {
	font-style: italic;
}

h3 {
	font-weight: 800;
}

siteNav {
	text-align: left;
}
.box {
	border: 1.5px solid black;
	background-color: white;
	border-radius: 10px;
} 