<!DOCTYPE html>
<html lang="en-GB">

<head>
<!-- REPLACE: head_tags -->
<meta name="description" content="[PAGE DESCRIPTION]">
<title>[PAGE TITLE] | frost.cx</title>
</head>

<body>
<header>
<!-- REPLACE: navigation_bar -->
</header>

<main>
    <article>
        <header class="article-header">
            <h1>Main Page Title</h1>
            Published <time datetime="1970-01-01">1970-01-01</time> by James Frost.
            <p class="tagline">A tagline that gives a short overview of the page.</p>
        </header>
        <h2>A Subheading</h2>
        <p>Paragraphs of text can be written here. &lt;h2&gt; elements should be used to separate the logical sections, as
            it gives the article an accessible outline, as well as making it nicer to read otherwise.</p>
        <h3>This is a Level 3 Heading</h3>
        <p>Level 3 headings should be used for less important breaks in the page flow. I.e: minor sections instead
            of major ones.</p>

        <h2>Pictures</h2>
        <p>A picture can be embedded as below. The image files should be placed in the same directory as the HTML
            file. The same kind of thing should be done for video, though no example is given here.</p>

        <figure>
            <picture>
                <source srcset="moon.jxl" type="image/jxl">
                <img class="fancy-picture" src="moon.jpg"
                    alt="A photograph of the Moon, taken through a telescope.">
            </picture>
            <figcaption>You can even put captions on your images!</figcaption>
        </figure>

        <h2>Another Subheading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies nisl ut nisl vestibulum, vel
            placerat justo iaculis. Integer blandit vitae nunc quis finibus. Cras pulvinar quam venenatis lorem
            ultricies fringilla. Donec justo lacus, feugiat ac mi eu, vehicula elementum dolor. Lorem ipsum dolor
            sit amet, consectetur adipiscing elit. Proin leo velit, tincidunt sed pretium id, iaculis in nibh. Morbi
            ornare eu urna pretium sagittis. Donec tempus mollis pulvinar. Morbi dictum est odio, at semper ligula
            gravida eu. Vivamus dictum magna at ex aliquet dapibus. Cras vitae magna tempus, bibendum augue eget,
            aliquet felis. Ut posuere elementum justo. Morbi congue lectus vestibulum, mollis nulla nec, tristique
            odio.</p>
        <p>Nam id magna gravida, dignissim leo eu, lobortis tellus. Morbi in varius dui, eu rhoncus dui. Suspendisse
            potenti. Cras luctus lobortis laoreet. Aliquam porttitor eros enim, quis porta arcu mattis sed. Sed
            hendrerit ligula quis enim dapibus luctus. Phasellus et mauris libero. Suspendisse quam lectus,
            tristique non ipsum vitae, finibus sollicitudin nibh. Donec ac congue augue, id sodales mi. Morbi nec
            felis et eros ullamcorper placerat. Mauris lectus neque, tempor quis lacus et, ornare eleifend nunc.
            Morbi diam est, sagittis id lobortis sit amet, sollicitudin non urna.</p>

        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Cras at enim tristique magna pharetra aliquet. Sed nec imperdiet libero. Cras at augue congue, facilisis
            orci ac, fermentum nisl. Proin semper vestibulum augue a iaculis. Phasellus a euismod tellus, ut
            placerat ligula. Donec urna ligula, consequat ac dui a, elementum fermentum augue. Donec ut ultrices
            diam, eget porttitor lacus. Cras ipsum est, tempus in orci nec, suscipit luctus mauris. Sed urna odio,
            finibus a finibus sit amet, condimentum et lectus. Nulla aliquet rhoncus quam ac condimentum.</p>
        <p>p>Mauris placerat in erat sagittis iaculis. Maecenas in ornare velit. Donec vel rhoncus lectus, sit amet
            egestas lorem. Quisque vel nisl dui. Etiam viverra pretium velit, ut tempor nunc vestibulum at. Aliquam
            erat volutpat. Maecenas rutrum arcu risus, ornare porta mi maximus sit amet.</p>
        <p>Morbi pharetra risus libero, molestie faucibus augue ornare id. Praesent nibh est, mollis sit amet dolor
            non, venenatis porta leo. Maecenas vitae turpis vitae augue vestibulum eleifend sed at dui. Mauris
            feugiat tempor vulputate. Donec sit amet tellus pretium, aliquet nibh at, ultricies lorem. In lectus
            erat, dapibus at metus at, tempor sodales tortor. Integer in pellentesque turpis. Phasellus nec massa
            ante. Phasellus enim orci, semper sed felis at, dapibus hendrerit lorem. Morbi ultrices sapien quis
            turpis varius facilisis. Curabitur a urna leo. Nam porta purus non purus auctor bibendum. Praesent
            mollis ex in massa posuere, ac suscipit nibh dignissim. Maecenas viverra ex eu ipsum interdum efficitur.
            Duis eu porta risus, ut lobortis ligula.</p>
    </article>
</main>

<footer>
<!-- REPLACE: copyright_footer -->
</footer>
</body>

</html>
