/* ===== Start CSS Reset ===== */
/* Modified from https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Inherit fonts for inputs and buttons. */
input,
button,
textarea,
address,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer
not to see them. */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Prevent font size inflation.
https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/
*/
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Make sure textareas without a rows attribute are not tiny. */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin. */
:target {
    scroll-margin-block: 5ex;
}


/* ===== Fonts ===== */

@font-face {
    font-family: "Lato";
    src:
        local("Lato"),
        local("Lato Regular"),
        local("Lato-Regular"),
        url("/assets/fonts/LatoLatin-Regular.woff2") format("woff2");
    /* Only need to load woff2 as no current browser doesn't support it. */
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}


/* ===== Whole page styling ===== */

body {
    --background-colour: white;
    --body-colour: black;
    --heading-colour: black;
    --faded-colour: #767676;
    --body-font: "Lato", sans-serif;
    --heading-font: "Lato", sans-serif;

    /* Remove default margin. */
    margin: 0;
    font-family: var(--body-font);
    font-size: large;
    color: var(--body-colour);
    background-color: var(--background-colour);
}

main {
    text-align: left;
    margin: 0 auto;
    width: 1100px;
    max-width: 97%;
}

article {
    max-width: 50rem;
    margin: 1em auto;
}

/* ===== General content styling ===== */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-colour);
    font-family: var(--heading-font);
    text-wrap: balance;
}

h1,
h2,
h3 {
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: xx-large;
}

h3 {
    font-size: x-large;
}

p {
    line-height: 1.5;
}

a {
    text-decoration-skip-ink: auto;
}

a:focus,
a:hover {
    text-decoration-skip-ink: none;
    text-decoration-thickness: clamp(3px, 0.12em, 0.5rem);
}

.fancy-picture {
    display: block;
    margin: 1rem auto;
    width: 800px;
    max-width: 90%;
    border-radius: 20px;
}

figcaption {
    text-align: center;
    font-style: italic;
    margin-bottom: 1rem;
}

.article-header {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}


/* ===== Navbar styling ===== */

.navbar {
    margin: 1rem auto;
    width: 1100px;
    max-width: 95%;
    min-height: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 800px) {
    .navbar {
        justify-content: space-around;
    }
}

.navbar-title {
    display: flex;
    text-decoration: none;
    color: unset;
}

.navbar-title:focus,
.navbar-title:hover {
    text-decoration: none;
}

.navbar-title img {
    border-radius: 15%;
    height: 5rem;
}

.navbar-title span {
    font-size: xx-large;
    margin: auto 1.2rem;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.navbar ul a {
    text-decoration: none;
    margin: 0 0.5rem;
    font-size: x-large;
    color: unset;
}

.navbar ul a:hover,
.navbar ul a:focus {
    border-bottom: solid black;
}


/* ===== Footer styling ===== */

.footer-copyright {
    color: var(--faded-colour);
    text-align: center;
    font-size: small;
    margin: 2rem 0;
}

.footer-copyright a {
    color: var(--faded-colour);
}



/* ===== Homepage styling ===== */
/* This is here because there is not any better place to put it, and after gzip
it is basically free anyway. */

.homepage-intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.homepage-intro picture {
    max-width: 95%;
    width: 400px;
}

.homepage-intro img {
    width: 100%;
    border-radius: 5%;
}

.homepage-intro div {
    width: 668px;
    margin: 0 16px;
}

.homepage-intro p {
    margin: 1rem auto;
}

.homepage-intro h1 {
    font-size: 3rem;
    text-align: left;
    margin: 1rem auto;
}

.homepage-socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.homepage-socials img {
    border-radius: 15%;
    width: 80px;
    height: 80px;
    margin: 1rem;
}

.homepage-postlist {
    padding: 0;
    list-style: none;
    margin: 0 auto;
}

.homepage-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.homepage-columns>* {
    max-width: 500px;
}


/* ===== Contact page styling ===== */

.contact-methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.contact-methods p,
.contact-methods h2 {
    margin: 0;
}

.contact-methods img {
    width: 120px;
}
